@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/*
 * css import 는 사용하지 말것.
 * 이유 : 타 외부 참조링크에비해 느리다는 단점이 있으며 이렇게 선언해줄경우 지금 css파일에 의존성을 가지게됨.
 * css import 보다는 html link 태그를 선언해 현재 css보다 먼저 선언할것.
*/

/**
 * Reset some basic elements
 * 제대로 사용할 css만 되어있는지 확인할것, 모든 엘리먼트가 font를 상속받아야할 의무는 없음.
 * 비표준 브라우저를 지원하지 않을것이며 HTML5.2를 준수할거라 미지원 태그에 방어코드인 display:block는 삭제할것. 
 */
 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Montserrat','Nanum Gothic',sans-serif;
  color:#222;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color:#222;
}

/**
 * Defalt
 */

.wrap{
  position:relative;
}
.container{
  width:calc(100% / 6 * 4);
  margin:0 auto;
}

/**
 * Header
 */

.header{
  position:fixed;
  width:100%;
  z-index: 11;
 }
.header_logo{
  position: absolute;;
  left:3.5rem;
  top:50%;
  transform: translateY(-50%);
  display:block;
  font-size:2.25rem;
  font-weight:800;
 }
.nav ul{
  width:50%;
  float:right;
}
.nav_item{
  width:calc(100% / 3);
  float:left;
  padding:3.35rem 1.5rem; 
  box-sizing:border-box;
}
.nav_item_link{
  display:block;
  font-size:0.85rem;
  font-weight:600;
}
.nav_item_link:hover{
  color:#4d38ed
}
.nav_item_link span{
  color:#e0e0e0;
  padding-right:0.75rem;
}
header.showmenu{
  width:100%;
  height:100%;
  position:fixed;
}
.menu{
  display:none;
  width:40px;
  height:40px;
}
.menu_btn {
	position: fixed;
  top:30px;
  left:20px;
	display: block;
	width: 24px;
	z-index: 30;
	transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
  transition-delay: 0.6s;
}

.menu_btn span {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #222;
	font-size: 0px;
	user-select: none;
	transition: background-color 0.5s;
}

.menu_open .menu_btn span {
	background-color: transparent;
}

.menu_open .menu_btn {
	left:90%; 
	transition: all 0.4s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.menu_btn span::before,
.menu_btn span::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background: #222;
	content: '';
  transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
}

.menu_btn span::before {
	transform: translateY(-500%);
}

.menu_btn span::after {
	transform: translateY(500%);
}

.menu_open .menu_btn span::before {
  transform: translateY(0) rotate(45deg);
  background-color:#fff;
}

.menu_open .menu_btn span::after {
  transform: translateY(0) rotate(-45deg);
  background-color:#fff;
}


.menu_close .menu_btn::before {
	animation: plusVertical 0.3s ease forwards;
}

.menu_close .menu_btn::after {
	animation: plusHorizontal 0.3s ease forwards;
}

.menu_overlay{
  position:fixed;
	background: #4d38ed;
	left: -100%;
	top: 0;
  width:100%;
  height:100%;
	-webkit-transition: left .35s ease;
  transition: left .35s ease;
  padding:10rem 4rem 4rem 4rem;
  box-sizing:border-box;
}
.menu_overlay.open {
	left: 0;
	visibility: visible;
	-webkit-transition: left .35s ease;
	transition: left .35s ease;
}
.menu_overlay.open::before {
	left: 0;
}
.menu_overlay.open ul li {
	-webkit-animation: fadeInRight .5s ease forwards;
			animation: fadeInRight .5s ease forwards;
	-webkit-animation-delay: .35s;
			animation-delay: .35s;
}
  .menu_overlay.open ul li:nth-of-type(2) {
	-webkit-animation-delay: .45s;
			animation-delay: .45s;
  }
  .menu_overlay.open ul li:nth-of-type(3) {
	-webkit-animation-delay: .55s;
			animation-delay: .55s;
  }
  .menu_overlay ul li {
	display: block;
	position: relative;
	opacity: 0;
  }
  .menu_overlay ul li a {
	display: block;
	color: #fff;
	font-size:2rem;
	line-height:30px;
	margin-bottom:10px;
  }
  .menu_overlay ul li a span {
	color: rgba(255,255,255,0.3);
	font-size:1.6rem;
	margin-right:10px;
  }
  @keyframes fadeInRight {
	0% {
	  opacity: 0;
	  left: -20%;
	}
	100% {
	  opacity: 1;
	  left: 0;
	}
  }
  .menu_overlay_container{
    position: relative;
    width:100%;
    height:100%;
  }
  .menu_overlay_bottom{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
  }
  a.menu_overlay_logo{
    color:#fff;
    font-size:3.75rem;
    font-weight:800;
    margin-bottom:10px;
    display:block;
  }

  .menu_overlay_bottomt dl{
    width:100%;
    }
  .menu_overlay_bottom dl dt{
    clear:both;
    color: #fff;
    font-size:1.2rem;
    float:left;
    line-height:1.6;
    }
  .menu_overlay_bottom dl dt span{
    margin: 0 10px;
    }
  .menu_overlay_bottom dl dd{
    color: #e9e9e9;
    font-size:1.2rem;
    line-height:1.6;
  }
/**
 * Home
 */


.slide{
  position: relative;
  width:100%;
  height:100vh;
  overflow:hidden;
}
.slide_item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.slide_item_content{
	visibility: hidden;
	transition: visibility 0s 1s;
  will-change: visibility;
}
.slide_item_image.slide_item_image1{
  background-image: url('../img/slide1.jpg');
}
.slide_item_image.slide_item_image2{
  background-image: url('../img/slide2.jpg');
}
.slide_item_image.slide_item_image3{
  background-image: url('../img/slide3.jpg');
}
.slide_item_image{
  float:right;
  width:75%;
  height:100vh;
  overflow:hidden;
	background-size: cover;
  background-position: 50% 50%;
  opacity:0;
  transition:0.5s;
}


.slide_item_caption{
  position: absolute;
  top:30%;
  z-index:9;
  width:50%;
}
.slide_count{
  position:relative;
  width:10rem;
  margin-bottom:1.5rem;
}
.slide_count span.slide_count_bignum{
  font-size:8.5em;
  font-weight:700;
  color:#888;
  opacity:0;
	transition: transform .5s;
}
.slide_count span.slide_count_smallnum{
  font-size:1.5em;
  padding-left:1.5em;
}
.slide_layout{
  position: absolute;
  right:0;
  width:calc(100% - 10rem);
  top:0;
}
.slide_item_caption h2{
  font-size:3.75em;
  font-weight:700;
  padding-bottom:1.75rem;
	transform: translateY(-30%);
	opacity: 0;
	transition: transform .5s, opacity .5s;
  will-change: transform, opacity;
}

.slide_item_caption p{
  width:100%;
  font-size:0.85em;
  line-height:1.8;
  padding-right:20%;
	opacity: 0;
	transform: translateY(-70%);
	transition: transform .5s .1s, opacity .5s .1s;
  will-change: transform, opacity;
  box-sizing:border-box;
}

.slide_item_caption a.coverletter_download_mobile{
  font-weight:600;
  height:1em;
  font-size:1em;
  opacity: 0;
	transform: translateY(-70%);
	transition: transform .5s .1s, opacity .5s .1s;
  will-change: transform, opacity;
}

.slide_item_caption a.coverletter_download_mobile::before{
  position:relative;
  top:50%;
  margin-right:1em;
  float:left;
  width:4rem;
  height:1px;
  background:#222;
  content:'';
}

.slide_nav{
  position: absolute;
  bottom:3em;
  left:50%;
  transform:translateX(-50%);
}
.slide_nav div{
  display:inline-block;
  width:3.75rem;
  cursor: pointer;
  font-size:0.85rem;
}
.slide_nav div:hover{
  color:#4d38ed;
}

.slide_nav_next{
  text-align:right;
  border-left:1px solid #222;
}

.slide_current {
	visibility: visible;
	transition-delay: 0s;
}
.slide_current .slide_item_image{
  opacity:1;
}
.slide_current .slide_count span.slide_count_bignum,.slide_current .slide_item_caption h2 {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1s;
}
.slide_current .slide_item_caption p,.slide_current .slide_item_caption a.coverletter_download_mobile {
	transform: translateY(0);
	opacity: 1;
	transition-delay: 1.1s;
}

.coverletter_btn{
  position: absolute;
  bottom:8.5em;
  z-index:9;
  right:calc(100% / 6);
  height:70px;
}
.coverletter_btn::after{
  position: relative;
  top:50%;
  content:'';
  width:50px;
  height:1px; 
  background:#222;
  display:block;
  float:right;
  margin:-0.5px 0.75em;
}
.coverletter_btn span{
  line-height:70px;
  font-weight:600;
}

a.coverletter_download_web{
  float:right;
  display:block;
  width:70px;
  height:70px;
  border-radius:50%;
  background:#4d38ed;
  margin-right:-35px;
}

a.coverletter_download_web::before, a.coverletter_download_web::after {
	content: ' ';
	display: block;
	position: relative;
  top: 56%;
  left:15px;
}

a.coverletter_download_web::before {
	width: 36px;
  height: 4px;
  border-color:rgba(255,255,255,0.7);
	border-style: solid;
	border-width: 0 2px 2px;
}

a.coverletter_download_web::after {
	width: 0;
	height: 0;
	margin-left: 10px;
  margin-top: -16px;
	border-style: solid;
	border-width: 10px 10px 0 10px;
  border-color: transparent;
  border-top-color:rgba(255,255,255,0.7);
}

a.coverletter_download_web:hover::before {
	border-color: #fff;
}

a.coverletter_download_web:hover::after {
	border-top-color: #fff;
	-webkit-animation: downloadArrow 1.2s linear infinite;
	        animation: downloadArrow 1.2s linear infinite;
}

@-webkit-keyframes downloadArrow {
	0% {
		margin-top: -16px;
		opacity: 1;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}
@keyframes downloadArrow {
	0% {
		margin-top: -16px;
		opacity: 1;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}
@media (min-width:1400px){
  .mobile_visible{
    display:none;
  }
}
@media (max-width:1400px){
  html{
    font-size:14px;
  }
  .web_visible{
    display:none;
  }
  .mobile_visible{
    display:block;
  }
}

@media (max-width:1024px){
  .slide_item_caption{
    width:80%;
  }
  .slide_layout{
    position:relative;
  }

}
@media (max-width:768px){
  html{
    font-size:12px;
  }
}
@media (max-width:480px){
  html{
    font-size:8px;
  }
  .header_logo,nav.nav{
    display:none;
  }
  .menu{
    display:block;
  }
  .container{
    width:100%;
    padding:0;
  }
  .slide_item_image{
    width:50%;
  }
  .slide_item_caption{
    width:100%;
    padding-left:40px;
  }
}