body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,fieldset,legend,figure,menu{margin:0;padding:0;border:0}
table,th,td{border-spacing:0;border-collapse:collapse}
ol,ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal}
body,input,textarea,keygen,select,button{font-family: 'Montserrat', sans-serif;color:#222;}
input,textarea,select,button{margin:0;padding:0;border-radius:0;outline:0;vertical-align:middle}
a:link,a:visited,a:hover,a:active{text-decoration:none}
a,button,input[type='submit'],input[type='button'],input[type='reset']{color:#222;border:0;background:transparent;cursor:pointer;text-align:center;}
img{border:0;}
/* global */

.ellipsis{
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis
}
.clearfix::after{
    display:block;
    content:'';
    clear:both
}
.ts,.ts::after,.ts::before{
    -o-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    -webkit-transition:all 0.5s ease;
    transition:all 0.5s ease
}
.cubic,.cubic::after,.cubic::before{
    -o-animation: cubic-bezier(0.645,0.045,0.355,1) forwards;
    -moz-animation: cubic-bezier(0.645,0.045,0.355,1) forwards;
    -webkit-animation: cubic-bezier(0.645,0.045,0.355,1) forwards;
    animation: cubic-bezier(0.645,0.045,0.355,1) forwards;  
    -o-transition:0.5s cubic-bezier(0.645,0.045,0.355,1);
    -moz-transition:0.5s cubic-bezier(0.645,0.045,0.355,1);
    -webkit-transition:0.5s cubic-bezier(0.645,0.045,0.355,1);
    transition:0.5s cubic-bezier(0.645,0.045,0.355,1);
}


/* layout */
.header{
    position:fixed;
    width:100%;
    height:6rem;
    z-index:90;
}

.nav{
    position: absolute;
    top:0;
    left:50%;
    width:100%;
    height:100%;
}

.layout{
    position: relative;
    margin:0 auto;
}

.layout::before,
.layout::after{
    content:'';
    display:block;
    position: relative;
    top:0;
    width:100%;
    height:10rem;
}

.intro{
    height:100vh;
    background:#4d38ed;
}
/* module */

/*** 태그선택자선언 잘 안하는 이유:중첩될 가능성이 있기 때문에 위험함 ***/
/*** 모듈 작성과 모듈에 스킨을 입히는 방식배우기 ***/
/* .select{
    display:block;
    position:relative;
    top:0;
    right:0;
    left:0;
    bottom:0;
    float:none;
    width:0;
    height:0;
    padding:0;
    margin:0;
    background:none;
    color:transparent;
    border:1px solid #000;
    font:normal 12px/1.2 sans-serif;} */

.grid{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.grid1{
    width:calc(100% / 6);
}
.grid4{
    width:calc(100% / 6 * 4);
}

.grid.grid-line{
    z-index:-100;
}
.grid .grid-item{
    position:relative;
    height:100%;
    float:left;
}
.grid.grid-line .grid-item::before{
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:1px;
    height:100%;
    background:#e9e9e9;
}
.grid .grid-item:first-child::before{
    display:none;
}
 

.tpage {
    display:none;
    z-index:100;
    background:#4d38ed;
}
.tpage.act {
    display:block;
}
.tpage.tpage-intro.act{
    background:#fff;
}
.tpage.in,
.tpage.out{
    background:transparent;
    transition-delay:0.5s;
}
.tpage.in .grid-item{    
    animation-direction: reverse;
    -o-transform:scale(0,0);       
    -moz-transform:scale(0,0);     
    -webkit-transform:scale(0,0);    
    transform:scale(0,0);
    animation-delay:0.5s; 
}
.tpage.out .grid-item{
    -o-transform:scale(1,1);       
    -moz-transform:scale(1,1);     
    -webkit-transform:scale(1,1);    
    transform:scale(1,1);
    animation-delay:0.5s; 
}
.tpage-intro .grid-item{
    background:#fff;
    transform-origin: top;
    animation-name:transY;
    animation-duration: 0.8s;
}
.tpage-intro .grid-item:nth-child(2){
    animation-delay:0.6s;
}
.tpage-intro .grid-item:nth-child(3){
    animation-delay:0.7s;
}
.tpage-intro .grid-item:nth-child(4){
    animation-delay:0.8s;
}
.tpage-intro .grid-item:nth-child(5){
    animation-delay:0.9s;
}
.tpage-intro .grid-item:nth-child(6){
    animation-delay:1s;
}
.tpage-home .grid-item,
.tpage-about .grid-item,
.tpage-works .grid-item{
    background:#4d38ed;
    animation-name:transX;
    animation-duration: 1.3s; 
}
.tpage-home .grid-item{
    transform-origin:left;
}
.tpage-about .grid-item{
    transform-origin:right;
}
.tpage-works .grid-item{
    transform-origin:center;
}

@-webkit-keyframes transY{
    from{
        -webkit-transform:scaleY(1)
    }
    to{
        -webkit-transform:scaleY(0)
    }
}
@-o-keyframes transY{
    from{
        -o-transform:scaleY(1)
    }
    to{
        -o-transform:scaleY(0)
    }
}
@-moz-keyframes transY{
    from{
        -moz-transform:scaleY(1)
    }
    to{
        -moz-transform:scaleY(0)
    }
}
@keyframes transY{
    from{
        transform:scaleY(1)
    }
    to{
        transform:scaleY(0)
    }
}
@-webkit-keyframes transX{
    from{
        -webkit-transform:scaleX(1)
    }
    to{
        -webkit-transform:scaleX(0)
    }
}
@-o-keyframes transX{
    from{
        -o-transform:scaleX(1)
    }
    to{
        -o-transform:scaleX(0)
    }
}
@-moz-keyframes transX{
    from{
        -moz-transform:scaleX(1)
    }
    to{
        -moz-transform:scaleX(0)
    }
}
@keyframes transX{
    from{
        transform:scaleX(1)
    }
    to{
        transform:scaleX(0)
    }
}

.reveal-vertical,
.reveal-horizontal{
    overflow: hidden;
    line-height:1;
}
.reveal{
    display: block;
    animation: reveal 1.5s cubic-bezier(0.77, 0, 0.175, 1) 1s forwards;
}
.reveal-vertical .reveal{
    transform: translateY(100%);
}
.reveal-horizontal .reveal{
    transform: translateX(-30%);
}
@keyframes reveal{
    100% {
        transform: translate(0,0);
    }
}

.jelly-effect::after{
    content:'';
    display:inline-block;
    border-radius:50%;
    animation-duration: 1.5s;
}
@keyframes jelly{
    30%{
        transform:scale(1.25, .75);
    }
    40%{
        transform:scale(.75, 1.25);
    }
    50%{
        transform:scale(1.15, .85);
    }
    65%{
        transform:scale(.95, 1.05);
    }
    75%{
        transform:scale(1.05, .95);
    } 
}

.link{
    font-size:0.85rem;
    font-weight:600;
}

.link .link-num{
    color:#e0e0e0;
}

.link-logo{
    display:inline-block;
    padding-left:3.4vw;
    font-size:2.25rem;
    font-weight:800;
    line-height:6rem;
    z-index:70;
}
.link-logo:hover{
    color:#4d38ed;
}
.link-logo .jelly-effect::after{
    width:0.575rem;
    height:0.575rem;
    background:#222;
}
.link-logo:hover .jelly-effect::after{
    background:#4d38ed;
    animation-name:jelly;
}

.nav .link{
    display:block;
    position: relative;
    float:left;
    text-align:left;
    line-height:6rem;
}
.nav .reveal-horizontal .reveal{
    animation-duration: 1s;
    animation-delay:2s;
}
.nav .link:hover{
    color:#4d38ed;
}
.nav .link .link-num{
    padding:0 .5rem 0 1.25rem;
}

.nav-mobile{
    display:none;
    width:10%;
    height:100%;
    float:right;
}

.nav-mobile .menu-btn{
    position: relative;
    left:50%;
    width:2rem;
    height:0.8rem;
    margin:2rem 0;
    z-index:90;
    transform:translateX(-50%)rotate(90deg);
}

.nav-mobile .menu-btn::after,
.nav-mobile .menu-btn::before{
    content:'';
    display:block;
    position: absolute;
    width:100%;
    height:1px;
    background:#222;
}
.nav-mobile .menu-btn::before{
    top:0;
}
.nav-mobile .menu-btn::after{
    bottom:0;
}
.nav-mobile.open .menu-btn::before,
.nav-mobile.open .menu-btn::after{
    top:50%;
    background:#fff;
}
.nav-mobile.open .menu-btn::before{
    transform:translateY(-50%)rotate(-45deg);
}
.nav-mobile.open .menu-btn::after{
    transform:translateY(-50%)rotate(45deg);
}
.nav-mobile .grid{
    visibility: hidden;
}
.nav-mobile.open .grid{
    visibility: visible;
}
.nav-mobile .grid .grid-item{
    background: #4d38ed;
    transform-origin: left;
    -o-transform:scaleX(0);    
    -moz-transform:scaleX(0); 
    -webkit-transform:scaleX(0);    
    transform:scaleX(0);
}
.nav-mobile.open .grid .grid-item{
    -o-transform:scaleX(1);    
    -moz-transform:scaleX(1); 
    -webkit-transform:scaleX(1);    
    transform:scaleX(1);
}
.nav-mobile .menu{
    position: absolute;
    top:20vh;
    left:10%;
    width:80%;
    height:80vh;
    z-index:80;
}
.nav-mobile .menu .menu-item{
    margin-bottom:1rem;
    opacity:0;
    transform:translateX(-20%);
}

.nav-mobile.open .menu .menu-item{
    animation:fadeInRight 0.5s forwards 0.5s;
}
.nav-mobile.open .menu .menu-item:nth-of-type(2){
	animation-delay: 0.6s;
}
.nav-mobile.open .menu .menu-item:nth-of-type(3){
	animation-delay: 0.7s;
}
.nav-mobile.open .menu .menu-item:nth-of-type(4){
	animation-delay: 1s;    
}
@keyframes fadeInRight{
    to{
        opacity:1;
        transform:translateX(0);
    }
}
.nav-mobile .menu .menu-item .link{
    font-size:2rem;
    color:#fff;
}
.nav-mobile .menu .menu-item .link .link-num{
    margin-right: 0.5rem;
}
.nav-mobile .menu .menu-item-last{
    position: absolute;
    bottom:10%;
}
.nav-mobile .menu .menu-item-last .logo{
    margin-bottom:1rem;
    color:#fff;
    font-size:4rem;
    font-weight:800;
}
.nav-mobile .menu .menu-item-last .info .margin{
    margin:0 1rem;
}

.title{
    font-size:3.25rem;
    font-weight:800;
}
.title .block{
    display:block;
    color:#4d38ed;
}
.text{
    color:#444;
    font-size:0.875rem;
    line-height:1.8;
}
.info{
    color:#e0e0e0;
    font-size:1rem;
    line-height:1.8;
}
.layout-item{
    position:relative;
    width:75%;
    margin-top:5rem;
}
.layout-list-right .layout-item{
    float:right;
}
.layout-list-alternative .layout-item:nth-of-type(2n){
    float:left;
}
.layout-list-alternative .layout-item:nth-of-type(2n-1){
    float:right;
}
.layout-item .subtitle{
    margin-bottom:0.5rem;
    font-size:2.5rem;
    font-weight:700;   
}

.layout-item .skill{
    margin-top:1rem;
    font-size:1.2rem;
    font-weight:700;
    line-height:1.8;
}

.layout-item .skill .skill-num{
    color:#a9acb5;
}

.layout-item .view{
    display:block;
    width:10rem;
    height:2.5rem;
    margin-top:0.5rem;
    font-size:1rem;
    line-height:2.5rem;
    background: #e0e0e0;
}

.center-box{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
}
.center-box .jello{
    color:#fff;
    font-size:9rem;
    font-weight:800;
}
.center-box .jello .jelly-effect::after{
    width:1.6rem;
    height:1.6rem;
    background:#fff;
    animation-name:jelly;
    animation-delay:2.5s;
}
.center-box .welcome{
    margin:0.5rem 0;
    color:#fff;
    font-size:2.5rem;
    font-weight:400;
    letter-spacing: 0.75rem;
}
.center-box .text{
    color:#e0e0e0;
    font-size:0.875rem;
}
.enter{
    display:block;
    position:absolute;
    bottom:0;
    left:50%;
    width:6rem;
    height:6rem;
    margin-left:-3rem;
    color:#fff;
    font-size:1em;
    letter-spacing:0.25rem;
}
.enter::after{
    content:'';
    position:absolute;
    left:50%;
    bottom:0;
    width:1px;
    height:3rem;
    background:#eee;
}

.slider{
    position: relative;
    margin:0 auto;
    height:100vh;
    overflow:hidden;
}

.slider .slide{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.slider .slide .slide-text{
    position: relative;
    top:30%;
    width:50%;
    padding-left:10rem;
    z-index:1;
    box-sizing: border-box;
}

.slider .slide .slide-text .ts{
    display:block;
}

.slider .slide .slide-text .count{
    position: absolute;
    left:0;
    font-weight:700;
    color:#a9acb5;
    line-height: 0.8;
	overflow: hidden;
}
.slider .slide .slide-text .count .count-num{
    display: inline-block;
    width:6rem;
    font-size:8.75rem;
    transform:translateY(100%);
}

.slider .slide .slide-text .count .count-length{
    font-size:1.75rem;
}

.slider .slide .slide-text .title{
    margin-bottom:1rem;
    font-weight:700;
    overflow:hidden;
}

.slider .slide .slide-text .title .ts{
    transform:translateY(-100%);
}

.slider .slide .slide-text .text{
    width:80%;
    overflow: hidden;
}

.slider .slide .slide-text .text .ts{
    transform:translateY(100%);
}
.slider .slide.current .slide-text{
    z-index:10;
}
.slider .slide.current .slide-text .count .count-num,
.slider .slide.current .slide-text .title .ts,
.slider .slide.current .slide-text .text .ts{
    transform: translateY(0);
}

.coverletter-mobile{
    display:none;
    width:100%;
    height:1rem;
    margin-top:1.5rem;
    text-align:left;
    font-size:1rem;
    font-weight:700;
    opacity:0;
    transform: translateX(30%);
}
.coverletter-mobile::before{
    content:'';
    position:relative;
    top:50%;
    float:left;
    width:3rem;
    height:1px;
    margin-right: 0.875rem;
    background:#a9acb5;
}

.slider .slide.current .coverletter-mobile{
    transform:translateX(0);
    opacity:1;
}

.slider .slide .slide-image{
    position: absolute;
    top:0;
    right:0;
    width:75%;
    height:100%;
	background-size: cover;
    background-position: 50% 50%;
    clip: rect(0 100vh 100vh 100vh);
    -o-transition: 0.5s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.4s;
    -moz-transition: 0.5s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.4s;
	-webkit-transition: 0.5s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.4s;
	transition: 0.5s cubic-bezier(0.99, 0.01, 0.45, 0.9) 0.4s;
}

.slider .slide .slide-image.image1{
    background-image:url('../img/slide1.jpg');
}
.slider .slide .slide-image.image2{
    background-image:url('../img/slide2.jpg');
}
.slider .slide .slide-image.image3{
    background-image:url('../img/slide3.jpg');
}

.slider .slide.current .slide-image{
    clip: rect(0 100vh 100vh 0);
}
.slider .slide.prev .slide-image{
    clip: rect(0 0 100vh 0);
}

.slider .slider-nav{
    position:absolute;
    bottom:3rem;
    left:50%;
    z-index:9;
    overflow:hidden;
    transform:translateX(-50%);
}

.slider .slider-nav .prev,
.slider .slider-nav .next{
    width:4rem;
    font-size:0.875rem;
    line-height:1;
}

.slider .slider-nav .prev{
    margin-right:0.5rem;
    text-align:right;
}
.slider .slider-nav .next{
    margin-left:0.5rem;
    text-align:left;
}

.slider .slider-nav .prev:hover,
.slider .slider-nav .next:hover{
    color:#4d38ed;
}

.coverletter-web{
    position: absolute;
    right:calc(100% / 6);
    bottom:12rem;
    font-size:.875rem;
    font-weight:600;
    line-height:4.5rem;
}

.coverletter-web .download{
    display:block;
    float:right;
    width:70px;
    height:70px;
    margin:0 -35px 0 15px;
    background:#4d38ed;
    border-radius:50%;
}

.coverletter-web .download::before,
.coverletter-web .download::after {
	content: ' ';
	display: block;
	position: relative;
    top: 56%;
    left:15px;
}

.coverletter-web .download::before {
	width: 36px;
    height: 4px;
    border-color:rgba(255,255,255,0.7);
	border-style: solid;
	border-width: 0 2px 2px;
}

.coverletter-web .download::after {
	width: 0;
	height: 0;
	margin-left: 15px;
    margin-top: -16px;
	border-style: solid;
	border-width: 6px 6px 0 6px;
    border-color: transparent;
    border-top-color:rgba(255,255,255,0.7);
}

.coverletter-web .download:hover::before {
	border-color: #fff;
}

.coverletter-web .download:hover::after {
	border-top-color: #fff;
	-webkit-animation: downloadArrow 1.2s linear infinite;
	        animation: downloadArrow 1.2s linear infinite;
}
@-webkit-keyframes downloadArrow {
	0% {
		margin-top: -16px;
		opacity: 1;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}
@keyframes downloadArrow {
	0% {
		margin-top: -16px;
		opacity: 1;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}


.contact{
    position:relative;
    width: 100%;
    height:28rem;    
}
.contact #map{
    position: relative;
    height:100%;
    z-index:-10;
}
.contact .title-vertical{
    position: absolute;
    right:-10rem;
    color:rgba(255,255,255,0.1);
    font-size:5rem;
    letter-spacing: 1rem;
    transform:rotate(90deg)translateX(20%);
}
.contactme{
    position: absolute;
    top:0;
    right:0;
    height:100%;
    padding:4.5rem 8.5rem;
    box-sizing:border-box;
    background:#4d38ed;
    overflow:hidden;
}
.contact-item{
    margin-bottom:1.8rem;
}
.contact-item img{
    position:absolute;
    left:6rem;
    width:1.6rem;
    height:auto;
}

.contact-list span{
    display:block;
    margin-bottom:0.5rem;
    color:#fff;
    font-size:1.125rem;
    font-weight:600;
}

header.bg{
    background:#fff;
}


@media all and (max-width:1280px){
    .coverletter-web{
        display:none;
    }
    .coverletter-mobile{
        display: block;
    }
    .slider .slide .slide-text{
        width:60%;
        padding:0;
    }
    .slider .slide .slide-text .count{
        position: relative;
        margin-bottom:1rem;
    }
    .slider .slide .slide-text .text{
        display: none;
    }
    #map.grid4{
        width:100%;
    }
    .contactme.grid2{
        position: relative;
        width:100%;
    }
    
}
@media all and (max-width:960px){
    html{
        font-size:14px;
    }
    .nav{
        display:none;
    }
    .nav-mobile{
        display:block;
    }
    .grid-side.grid1{
        width:10%;
    }
    .grid-center.grid1{
        width:40%;
    }
    .grid .grid-item:first-child,
    .grid .grid-item:last-child{
        display:none;
    }
    .grid4{
        width:100%;
    }
    .layout{
        width:80%;
    }
    .layout-item{
        width:100%;
    }
    .slider .slide .slide-text{
        left:10%;
    }
}

@media all and (max-width:480px){
    html{
        font-size:12px;
    }

    .slider .slide .slide-text{
        width:80%;
    }
    .slider .slide .slide-image{
        width:50%;
    }

}