/**
 * Reset some basic elements
 * 제대로 사용할 css만 되어있는지 확인할것, 모든 엘리먼트가 font를 상속받아야할 의무는 없음.
 * 비표준 브라우저를 지원하지 않을것이며 HTML5.2를 준수할거라 미지원 태그에 방어코드인 display:block는 삭제할것. 
 */
 
body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,dl,dd,ol,ul,fieldset,legend,figure,menu{margin:0;padding:0;border:0}
table,th,td{border-spacing:0;border-collapse:collapse}
ol,ul,li{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:1em;font-weight:normal}
body,input,textarea,keygen,select,button{font:normal 'Montserrat',sans-serif}
input,textarea,select,button{margin:0;padding:0;border-radius:0;outline:0;vertical-align:middle}
a:link,a:visited,a:hover,a:active{text-decoration:none}
a,button,input[type='submit'],input[type='button'],input[type='reset']{border:0;background:transparent;cursor:pointer}
img{border:0;}

/**
 * Defalt
 */
