---
layout: default
title: works
permalink: /works/
pagename : works
---
<div class="grid grid-line">
    {% include griditem.html %}
</div>
<div class="layout grid4">
    <section class="works">
        <div class="myworks">
        <h3 class="title">MY<span class="block">WORKS</span></h3>
        <ol class="layout-list layout-list-alternative works-list clearfix">
            {% for post in site.posts %}
            <li class="layout-item work-item">
                <a href="{{ post.link }}" class="work-link">
                    <p class="top-area clearfix">WORK {{ post.number }}
                    <span class="goto ts">
                        GO TO SITE
                        <svg>
                            <line x1="0" x2="70" y1="30" y2="30"></line>
                            <polyline points="64 25 70 30 64 36"></polyline>
                        </svg>
                    </span>
                    </p>
                    <div class="work-image"><img src="{{ post.image }}" alt="work"></div>
                    <div class="left-area">
                        <h4 class="subtitle">{{ post.title }}</h4>
                        <p class="date">{{ post.date | date: '%B %d, %Y' }}</p>
                        <p class="explanation">{{ post.explanation }}</p>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ol>
        </div>
    </section>
</div>


