<!doctype html>
<html lang="ko">

{% include head.html %}

<body>
<div class="wrap">
	<div class="tpage">
		<div class="tpage_item"></div>
		<div class="tpage_item"></div>
		<div class="tpage_item"></div>
		<div class="tpage_item"></div>
		<div class="tpage_item"></div>
		<div class="tpage_item"></div>
	</div>
	{% include header.html %}
	<main class="container {{ page.pageclass }}">
		<h2 hidden>{{ page.pagename }}</h2>
		{{ content }}
	</main>
</div>
<script src="/js/common.js"></script>
</body>
</html>
